/* General */

html {
  font-size: 62.5%;
}

:root {
  --dark-gray: #676f73;
  --peach: #e8505b;
  --black: #263238;
  --orange: #e96a20;
}

body {
  color: var(--dark-gray);
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding: 0;
  }
}

.mb-9 {
  margin-bottom: 9rem;
}

/* Typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  margin-bottom: 2.35rem;
}

h1,
h3,
h4,
h5,
h6 {
  color: var(--black);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

.type--accented {
  font-weight: 700;
}

h2 {
  font-size: 1.75rem;
  color: var(--peach);
}

h3 {
  font-size: 2.75rem;
  font-weight: 700;
}

h4 {
  font-size: 2.75rem;
  font-weight: 700;
}

h5 {
  font-size: 2rem;
  font-weight: 700;
}

h6 {
  font-size: 1.3rem;
  font-weight: 700;
}
p {
  margin-top: 0;
  line-height: 1.6;
}
.text--white {
  color: white;
}

.m-0 {
  margin: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.75rem;
  }

  h4 {
    font-size: 2rem;
  }
}
/* Grids */

.grid {
  display: grid;
}

@media screen and (min-width: 768px) {
  .grid--1x2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid--2x3 {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

/* Buttons */
.btn {
  border-radius: 8px;
  border: 0;
  cursor: pointer;
  font-size: 1.5rem;
  margin: 1.5rem 0;
  outline: 0;
  padding: 1.5rem 3rem;
  text-align: center;
  white-space: normal;
  max-width: 20rem;
  position: relative;
}

.btn--peach {
  background-color: var(--peach);
  color: white;
}

.btn--peach:hover {
  background-color: #e63f4b;
}

.btn--app {
  margin-left: 10px;
  border: 1px solid white;
  background-color: var(--dark-gray);
  color: white;
}

.btn--app:hover {
  background-color: #5e6569;
}
.btn .icon {
  position: absolute;
  left: 5%;
  top: 32%;
  font-size: 2.5rem;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.black-test {
  background-color: var(--black);
}

/* Links */

a {
  text-decoration: none;
  display: inline-block;
}
/* Icons */
.fas {
  width: 2rem;
  height: 2rem;
}

/* Collapsibles */

.collapsible__header {
  display: flex;
  justify-content: space-between;
}

.collapsible__header .fas {
  margin-top: 1.5rem;
  font-size: 2.35rem;
  cursor: pointer;
}

.collapsible__content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: all 0.3s;
}

.collapsible--expanded .collapsible__content {
  max-height: 100vh;
  opacity: 1;
}
/* Lists */
.list {
  list-style: none;
  padding-left: 0;
}

/* Nav Bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0rem 1rem;
  margin-top: -4rem;
}

.nav__brand {
  width: 15rem;
  height: 15rem;
}

.nav__list {
  margin: 0;
  width: 100%;
}

.nav__item {
  padding: 0.5rem 2rem;
  border-bottom: 1px solid rgb(235, 229, 229);
}

.nav__item > a {
  font-size: 2.5rem;
  color: var(--black);
  transition: color 0.3s;
}

.nav__item > a:hover {
  color: var(--dark-gray);
}

.nav__item:last-child {
  margin-bottom: 3rem;
}
.nav__icon {
  cursor: pointer;
  color: var(--black);
  opacity: 0.6;
  margin-top: -0.5rem;
  transition: all 0.3s;
}
.nav__icon,
.fa-rotate-90 {
  transition: all 0.5s;
}
.collapsible--expanded .nav__icon {
  opacity: 1;
  color: var(--black);
}

@media screen and (min-width: 768px) {
  .fas.nav__icon {
    display: none;
  }
  .nav__list {
    display: flex;
    width: auto;
    max-height: 100%;
    opacity: 1;
  }
  .nav__item {
    border: 0;
  }
  .nav__item > a {
    font-size: 1.5rem;
  }
}

/* Hero */
.hero-wrapper {
  display: flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .hero-wrapper {
    flex-direction: row;
  }
}
.hero__img img {
  width: 100%;
}

.hero__content {
  padding: 0 2rem;
}
/* .hero */

@media screen and (min-width: 768px) {
  .hero {
    background-image: url("svgs/hero-shape.svg");
    background-repeat: no-repeat;
    background-position: -100px 80%;
    background-size: calc(37% - 200px);
  }
  .hero__img {
    margin-top: 0;
  }
  .hero__header {
    width: 50%;
  }
}

/* Services */
.services__header {
  text-align: center;
  margin-bottom: 1rem;
}

.services__content {
  text-align: left;
  margin: auto 0;
  justify-items: center;
  align-items: center;
  padding-left: 2rem;
}

.services__img {
  width: 10rem;
  height: 10rem;
  margin-top: 6rem;
  margin-bottom: 1.5rem;
}

@media screen and (min-width: 768px) {
  .services__service {
    width: 60%;
  }
}

/* About */

.about__img {
  margin-bottom: 3.5rem;
  width: 100%;
}

.about__box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--peach);
  border-radius: 5px;
  padding: 1rem 4.2rem;
  width: 60%;
}



.about__box .line {
  background-color: white;
  width: 2px;
  height: 63px;
}

@media screen and (min-width: 768px) {
  .about__content {
    margin-left: 6rem;
  }

 

  
/* Rating */

.rating {
  display: flex;
}

.rating__star-group {
  margin-left: 2rem;
  margin-top: 0.7rem;
}
.fa-star {
  margin: 0 -0.2rem;
}

.rating--checked {
  color: var(--orange);
}

.rating--about-us {
  margin-right: 1.5rem;
}