/* General */

html {
  font-size: 62.5%;
}

:root {
  --dark-gray: #676f73;
  --peach: #e8505b;
  --black: #263238;
  --orange: #e96a20;
}

/* Typography */

body {
  color: var(--dark-gray);
  font-family: "Heebo", Arial, Helvetica, sans-serif;
  font-size: 1.75rem;
  margin: 0 1.5rem;
}

h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin-top: 1rem;
  margin-bottom: 2.35rem;
}

h1,
h3,
h4 {
  color: var(--black);
}

h1 {
  font-size: 4rem;
  font-weight: 400;
}

.type--accented {
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
  font-weight: 500;
  color: var(--peach);
}

h3 {
  font-size: 3.5rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 3rem;
  font-weight: 700;
}
p {
  margin-top: 0;
  line-height: 1.6;
}

@media screen and (min-width: 1024px) {
  body {
    font-size: 1.35rem;
  }
  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 2.75rem;
  }

  h4 {
    font-size: 2rem;
  }
}

/* Rating */

.rating {
  display: inline-block;
}

.fa-star {
  margin: 0 0.4rem;
}

.rating--checked {
  color: var(--orange);
}

.rating--about-us {
  font-size: 2.35rem;
  display: inline-block;
  margin-right: 1.5rem;
}

/* Buttons */
.btn {
}

.btn--peach {
}

.btn--app {
}
